@model AzureBeyondBasics.Models.CustomerEntity
@{ 
    Layout = null;
}
<!DOCTYPE html>
    <head>
        <title>Azure beyond Basics</title>
    </head>
<body>
    <div>
        Created new Customer @Model.RowKey;
    </div>

</body>
</html>
 

